<div
  class="flex items-center gap-x-6"
  *ngIf="statusData"
>
  <p>
    <span class="text-gray-400">Last deployed branch: </span>
    <span class="text-green-600">{{ statusData?.lastDeploy?.branch || '–' }}</span>
  </p>
  <p>
    <span class="text-gray-400">Deployed on: </span>
    <span class="text-green-600">{{ statusData?.lastDeploy?.envName || '–' }}</span>
  </p>
  <div
    class="text-red-800"
    *ngIf="statusData.isBranchDeploying; else msg"
  >
    Deploying branch
  </div>

  <ng-template #msg>
    <button
      class="pointer-events-auto text-blue-400"
      (click)="showLastResult(statusData?.lastDeploy?.result)"
      *ngIf="statusData?.lastDeploy?.result"
    >
      Show result
    </button>
  </ng-template>
</div>
